# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/

# Backend
backend/.env
backend/app/database/*.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# System
.DS_Store
desktop.ini